@import url(https://fonts.bunny.net/css?family=bokor:400);

body {
    background-image: url("../image/fondo-grunge_87394-661.avif");
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100%;
    font-family: 'Arial', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    color: #000;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: relative;
    margin-right: 450px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav li {
    text-align: center;
    display: inline-block;
}

nav li a {
    position: relative;
    text-decoration: none;
}

.barre-séparation {
    border: 1px solid #000;
}

.monstre-généré {
    background-image: url("../image/1971657.jpg");
    border-top: 5px solid #8b4513;
    border-bottom: 5px solid #8b4513; 
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    font-family: 'bokor', sans-serif;
    color: #000;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.capacité {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    width: 100%; 
}

hr {
    border: 3px solid #000;
}
