<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <title>name generator</title>
</head>
<body>
    <form action="/list" method="GET">
        <label for="number">Choose the number of Monster : </label>
        <input type="number" name="number" placeholder="enter the number of monster to generate" min="1" value="10">
        <label for="monsterType">Choose your Monster Type : </label>
        <input list="monsterType" name="type">
        <datalist id="monsterType">
            <option value="Aberration">
            <option value="Bête">
            <option value="Dragon">
            <option value="Céleste">
            <option value="Artéfact">
            <option value="Élémentaire">
            <option value="Fée">
            <option value="Démon">
            <option value="Géant">
            <option value="Humanoïde">
            <option value="Monstruosité">
            <option value="Plante">
            <option value="Mort-vivant">
        </datalist>
        <label for="ID">Choose the ID of Monster : </label>
        <input type="number" name="ID" placeholder="enter the ID of the monster" min="1" max="30" value="1">
        <input type="submit" value="Generate Name">
    </form>
    <br>
    <table>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Monster Type</th>
          <th>Size</th>
          <th>Alignment</th>
          <th></th>
        </tr>
        {{range .}}
            <tr>
                <td>
                    <section class="card"  onclick="toggleMonster('{{.Name}}')">
                        {{.Name}}
                    </section>
                </td>
                <td>{{.ID}}</td>
                <td>{{.MonsterType}}</td>
                <td>{{.Size}}</td>
                <td>{{.Alignment}}</td>
                <td>
                    <form action="/delete" id="{{.Name}}">
                        <input type="text" id="name" name="name" value="{{.Name}}" style="display: none;"/>
                    </form>
                    <button type="submit" form="{{.Name}}">DELETE</button>
                </td>
            </tr>
        {{end}}
    </table>

    {{range .}}
    <div class="popupMonster" data-monster-id = "{{.Name}}"  >
        <div class="popup-content">
            <a href="javascript:void(0)" onclick="toggleMonster('{{.Name}}')" class="popup-exit">
                <i class="material-icons">
                    close
                </i>
            </a>
            <div class="info">
                <p class="name">{{.Name}}</p>
                <p>Type {{.MonsterType}}</p>
                <p>Taille {{.Size}}</p>
                <p>Alignement {{.Alignment}}</p>
                <p>CA {{.AC}}</p>
                <p>PV {{.LP}}</p>
                <p>Vitesse {{range $key, $value := .Speed}}
                    {{$key}} : {{$value}}
                    {{end}}
                </p> 
                <p>Valeurs caractéristiques {{range $key, $value := .Caract}}
                    {{$key}} : {{$value}}
                    {{end}}</p>
                <p>Modificateur caractéristiques {{range $key, $value := .CaractMod}}
                    {{$key}} : {{$value}} 
                    {{end}}</p>
                    <p>Jets de sauvegarde {{range $key, $value := .SaveRoll}}
                        {{$key}} : {{$value}}
                        {{end}}</p>
                <p>Bonus {{.Mastery}}</p>
                <p>Resistances {{.Resistance}}</p>
                <p>Vulnérabilités {{.Vulnerability}}</p>
                <p>Immunités {{.Immunity}}</p>
                <p>Resistance aux états {{.StateImmunity}}</p>
                <p>Sens {{.Sense}}</p>
                <p>Langues {{.Languages}}</p>
                <p>Puissance {{.ID}}</p>
            </div>
        </div>
        <script src="static/js/popup.js"></script>
    </div>
    {{end}}

</body>
</html>